<!--Event binding-->
<!--The input line will trigger on the input event and update the value of serverName in
    our component by calling the onUpdateServerName() function and passing the value that
    was entered by the user.-->
<!--<input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->

<!--Two way data binding: combining property and event binding -->
<!--The ngModel line will trigger on the input event and update the value of serverName in 
    our component automatically. It will also update the value of the input element if
    we change serverName somewhere else.-->
<input
    type="text"
    class="form-control"
    [(ngModel)] = "serverName" 
>

<!-- <p>{{ serverName }}</p> -->

<!--The constructor runs at the initiation of this component. After 2 seconds, the button will
    become enabled. When button event is triggered by clicking, the onCreateServer() function
    will run.-->
<button 
    class="btn btn-primary"
    [disabled] = "!allowNewServer"
    (click) = "onCreateServer()"
>
    Add Server
</button>

<!--String interpolation-->
<p>{{ allowNewServer }}</p>
<!--Property binding-->
<p [innerText] = "allowNewServer"></p>

<!--The value of serverCreationStatus changes when the button event is trigger when clicked by
    calling onCreateServer() function which changes the value of serverCreationStatus.-->
<!--{{ serverCreationStatus }}-->

<!--Directives are usually added by using the attribute selector. The * is required because ngIf
    is a structural directive, meaning it changes the structure of our DOM (it either adds this
    element or it does not. I have added the condition to be as long as serverCreated is true, 
    show the text below. The variable serverCreated is true once the button "Add Server" is clicked.-->
<p *ngIf="serverCreated">Server was created! Server name is {{ serverName }}</p>

<!--The below is an extension of the ngIf directive mentioned above except I added an else condition.-->
<!--<p *ngIf="serverCreated" else noServer>Server was created! Server name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>-->

<hr>
<!--We can call another component multiple times in a different component-->
<!--Will lop thorough all elements in the array and assign individual element to this dynamic server
    variable.-->
<app-server *ngFor = "let server of servers"></app-server>